
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
   }

   :root{
    font-size: 10px;
   }

   ou, ul{
    list-style-type: none;
   }

   body{
    background: url('/img/login/background-login.jpg') no-repeat center center fixed;
   }
   
   header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 100vw;
    height: 7rem;
   }
   
   .logo{
    font-size: 4rem;
    font-weight: bold;
    color: #fcfcfc;
    margin-left: 6rem;
    font-family: 'Bacasime Antique', serif;
    cursor: pointer;
   }

   

   main{
    height: calc(100vh - 7rem);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   i{
    color: #fcfcfc;
   }

   .wrapper{
    height: 40rem;
    width: 40rem;
    position: relative;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 2rem;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    overflow: hidden;
   }

   .wrapper .form-box{
    width: 100%;
    padding: 4rem;
    flex-shrink: 0;
   }
   .wrapper.active{
    height: 54rem;
   }

   .form-box.login{
    transition: .2s ease;
    transform: translateX(0rem);
   }

   .wrapper.active .form-box.login{
    transition: .2s ease;
    transform: translateX(-40rem);
   }

   .form-box.register{
    position: absolute;
    transform: translateX(40rem);
    transition: .2s ease;
   }

   .wrapper.active .form-box.register{
    transition: .2s ease;
    transform: translateX(0);
   }

   .form-box h2{
    font-size: 3.5rem;
    color: #fcfcfc;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
   }

   .input-box{
    position: relative;
    width: 100%;
    height: 5rem;
    border-bottom:2px solid #fcfcfc;
    margin: 20px 0;
   }

   .input-box label{
    position: absolute;
    top:50%;
    left: 0.5rem;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #fcfcfc;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
   }

   .input-box input:focus~label,
   .input-box input:valid~label{
    top:-3px;
    font-size: 1.3rem;

   }

   .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.6rem;
    color: #fcfcfc;
    font-weight: 500;
    padding: 0 35px 0 5px;
   }

   .input-box .icon{
    position: absolute;
    right: 0.5rem;
    font-size: 1.5rem;
    top:50%;
    transform: translateY(-50%);
   }

   .remember-forgot{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color:#fcfcfc;
    margin: 10px 0 10px;
    display: flex;
    justify-content: space-between;
   }

   .remember-forgot label input{
    accent-color: #fcfcfc;
    margin-right: 3px;
   }

   .remember-forgot input{
    cursor: pointer;
   }

   .remember-forgot a{
    color: #fcfcfc;
    text-decoration: none;
   }

   .remember-forgot a:hover{
    text-decoration: underline;
   }

   .btn{
    width: 100%;
    height: 4.5rem;
    background: #ffcc00;
    color: #000;
    border: none;
    outline: none;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
   }

   .login-register{
    font-size: 1.4rem;
    font-weight: 500;
    color:#fcfcfc;
    text-align: center;
   }

   .login-register a{
    font-weight: 700;
   }

   .login-register p a{
    color: #fcfcfc;
    text-decoration: none;
   }

   .login-register p a:hover{
    text-decoration: underline;
   }