

 /* main */

 main{
    width: 100%;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 2rem;
    position: relative;
 }

 section{
    margin: 2rem auto 5rem;
    width: 70%;
    
 }

 section p{
    font-size: 1.8rem;
    margin: 1rem 4rem;
 }

 section h2{
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
 }

 .a-logo{
    font-family: 'Bacasime Antique', serif;
    font-weight: 500;
 }

 .s-list{
    font-weight: 600;
 }

 .ads{
    width: 13%;
    height: 500px;
    border: 2px dashed #000;
    position: absolute;
    background:linear-gradient(#3545cc,#cc33cc);
    display: flex;
    justify-content: center;
    align-items: center;
    top:2rem;
 }

 .r-ads{
    right: 1rem;
 }

 .l-ads{
    left: 1rem;
 }

 @media screen and (max-width:1150px){
   .ads{
      position: static;
      margin: 0 auto;
      width: 70%;
      height: 150px;
      margin-bottom: 2rem;
   }
 }