 /* main */
 main{
    width: 100%;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 2rem;
    display: grid;
    grid-template-columns: 250px 1fr 250px ;
    gap:2rem;
    position: relative;
 }

.mid {
   grid-row: 1;
   grid-column: 2;
}

 .mid section{
    width: 100%;
    max-width: 1000px;
    margin: auto;
 }

 .mid section p{
    font-size: 1.8rem;
    margin: 1rem 4rem;
 }

 .mid section h2{
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
 }

 .a-logo{
    font-family: 'Bacasime Antique', serif;
    font-weight: 500;
 }

 .s-list{
    font-weight: 600;
 }

 .ads{
    width: 100%;
    height: 500px;
    border: 2px dashed #000;
    position: sticky;
    background:linear-gradient(#3545cc,#cc33cc);
    display: flex;
    justify-content: center;
    align-items: center;
   grid-row: 1;
   top:100px;
 }

 .r-ads{
   grid-column: 3;
 }

 .l-ads{
   grid-column: 1;
 }

 @media screen and (max-width:1150px){
   main{
      display: block;  
   }
   .ads{
      position: static;
      max-width: 400px;
      margin: auto;
   }
 }