.n-bigbox{
    position: relative;
    width: 100%;
    height: fit-content;
}

.n-header-box *{
    color: var(--text);
}

.n-header-box h1{
    width: 100%;
    max-width: 1000px;
}

.n-header-box h5{
    width: 100%;
    max-width: 1000px;
}

.n-header-box,.n-body{
    width: 100%;
    max-width: 1400px;
    padding: 1rem 0;    
    margin: auto;
}

.n-bg-header{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242424;
    height: 80vh;
    width: 100vw;
    z-index: -1;
}

.body-container h1{
    font-size: 4rem;
    margin: 1rem 0;
}
.body-container h2{
    margin: 1rem 0;
    font-size: 3.6rem;
}
.body-container h3{
    margin: 1rem 0;
    font-size: 3.2rem;
}
.body-container h4{
    margin: 1rem 0;
    font-size: 2.8rem;
}
.body-container h5{
    font-size: 2.4rem;
    margin: 1rem 0;
}
.body-container h6{
    margin: 1rem 0;
    font-size: 2rem;
}

.body-container p{
    margin: 1rem 0;
    font-size: 2rem;
}

.n-header span{
    display: inline-block;
    font-size: 1.5rem;
    margin: .5rem 0;
}

.n-path-box{
    width: 100%;    
    margin: 2rem 0;

}

.n-path-box span{
    font-size: 1.8rem;
    color: #acacac;
}

.n-path-box span:last-child{
    color: #fff;
}

.n-img-box{
    width: 100%;
    margin: 1rem 0;
}

.n-img-box > img{
    width: 100%;
}

.n-img-box > span{
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 1.8rem;
}

.body-container{
    background-color: #fff;
    z-index: -1;
}

.n-body{
    display: grid;
    grid-template-columns: 1fr 400px;
}


.n-share-box{
    margin: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: fit-content;
    width: fit-content;
}

.n-share-box span{
    font-size: 1.8rem;
    display: block;
}


.n-share-box .icon-share{
    border: 1px solid #000;
    border-radius: 50%;
    padding: .3rem;
    aspect-ratio: 1;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.n-share-box .icon-share img{
    width: 100%;
}


.n-share-box .icon-share i{
    font-size: 2.8rem;
}