
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
   }

   :root{
    font-size: 10px;
    --text: #fcfcfc;
   }

   ou, ul{
    list-style-type: none;
   }

   body{
    background: linear-gradient(315deg, #262626 0%, #28313b 74%) no-repeat center center fixed;
   }

   /*header*/
   
   header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100vw;
    height: 7rem;
    max-width: 100vw;
   }
   
   .logo{
    font-size: 4rem;
    font-weight: bold;
    color: var(--text);
    margin-left: 6rem;
    font-family: 'Bacasime Antique', serif;
    cursor: pointer;
   }
   

   .navigation li{
    display: inline-block;
    margin-right: 4rem;
   }
   .nav_links{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
   }

   .nav_links:hover{
    color: #ffcc00;
   }

   .nav_links::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffcc00;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
   }

   .nav_links:hover::after{
    transform: scaleX(1);
    transform-origin: left;
   }

   
   
   .btnLogin-popup{
    color: var(--text);
    width: 13rem;
    height: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 4rem;
    border: var(--text) 2px solid;
    background-color: transparent;
    transition: all 0.2s ease-in;
   }
   
   .btnLogin-popup:hover{
    background-color: #ffcc00;
    border: #ffcc00 2px solid;
    color:#000;
   }

   .user-info{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
   }

   .user-info h2{
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
   }

   .user-info i{
    font-size: 1.8rem;
   }

   /*Body*/
   
   .body-container{
    width: 100%;
    height: fit-content;
    position: relative;
   }
 
   .primary-bar{
    width: 100%;
    height:4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text);
   }

   .primary-bar-l{
    display: flex;
    width: 80%;
    align-items: center;
    
   }

   .searchbar {
    padding: 0.5rem;
    border: #000 1px solid;
    border-radius: 3rem;
    margin-left: 1rem;
    width: 30%;
   }

   .searchbox{
    display: flex;
    justify-content: space-between;
   }

    .searchbar input{
      outline: none;
      width: 95%;
    }

   .keywords{
    display: flex;
   }
   
   .keywords a{
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem;
   }

   .menu{
    margin-right: 1rem;
   }

   .menu input{
    opacity: 0;
   }

   .menu label{
    font-size: 1.5rem;
   }

   .recommended{
    max-height: 55rem;
    max-width: 100rem;
    width: 100%;
    aspect-ratio: 16/9;
    margin: 3rem auto;
    position: relative;
   }

   .r-frame{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, rgba(0,0,0,0.9) 40%, rgba(0,0,0,0)),  no-repeat center;
    background-size: cover;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
   }

   .info{
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    
   }

   .info p{
    color: var(--text);
   }

   .r-type{
    font-size: 1.8rem;
    font-size: 600;
    margin: 4rem 0;
    border-left: 2px solid #ffcc00;
    padding-left: .5rem;
   }

   .r-title{
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
   }

   .r-summary{
    font-size: 1.3rem;
    margin: 1rem 2rem 2rem 0;
    text-align: justify;
    font-family: 'Merriweather', serif;
    overflow:hidden ;
   }

   .readMore-btn{
    position: absolute;
    right: 2rem;
    margin: 2rem 0;

   }

   .readMore-btn button{
    background-color: transparent;
    color: var(--text);
    border: 2px solid #ffcc00;
    border-radius: 3rem;
    padding: 0.5rem;
    transition: all .1s ease-in-out;
   }

   .readMore-btn i{
    color: #ffcc00
   }

   .readMore-btn button:hover{
    cursor: pointer;
    transform: scale(1.05);
   }

   .control{
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
    gap:1rem;
    justify-content: center;
    
   }

   .control button{
    width: 0.9rem;
    height: 0.9rem;
    background-color: #fcfcfc;
    opacity: .5;
    border-radius: 50%;
    cursor: pointer;
   }

   /*cái này t để tượng trưng, sửa lại bằng js nha*/
   

   .control button.active{
    opacity: 1;
    background-color: #ffcc00;
   }

  .r-frame.show{
    animation: showFrame .5s ease-out forwards;
  }
  .r-frame.hide{
    animation: hideFrame .5s ease-out forwards;
  }
   

   @keyframes hideFrame {
      0%{
        opacity: 1;
        scale: 1;
      }
      50%{
        opacity: 0.8;
        scale: 1.05;
      }
      99%{
        transform: translateX(-9rem);
        opacity: 0;
        scale: 1;
      }
      100%{
        opacity: 0;
        transform: translateX(0);
        z-index: -1;
      }
   }

   @keyframes showFrame {
    0%{
      opacity: 0;
      scale: .7;
    }
    50%{
      opacity: 0.8;
      scale: 1.05;
      transform: translateX(9rem);
    }
    99%{
      scale: 1;
      opacity: 1;
      transform: translateX(0);
    }
    100%{     
      opacity: 1;
      z-index: 0;
    }
   }




   
   




