
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montserrat&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
  @font-face {
    font-family: GeoFont;
    src: url(/font/freeedit-webfont.woff.ttf);
  }

*{ 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

   :root{
    font-size: 10px;
    --text: #fcfcfc;
    --w-cover-maga:350px;
   }

   ou, ul{
    list-style-type: none;
   }

   body{
    background: linear-gradient(315deg, #262626 0%, #121212 74%) no-repeat center center fixed;
    overflow-x: hidden;
   }

   /*header*/
   
   header{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 7rem;
    max-width: 100vw;
    position: relative;
   }
   
   .logo{
    font-size: 4rem;
    font-weight: bold;
    color: var(--text);
    margin-left: 6rem;
    font-family: 'Bacasime Antique', serif;
    cursor: pointer;
   }
   


   .navigation li{
    display: inline-block;
    margin-right: 4rem;
   }
   .nav_links{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    position: relative;
   }

   .nav_links:hover{
    color: #ffcc00;
   }

   .nav_links::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #ffcc00;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease;
   }

   .nav_links:hover::after{
    transform: scaleX(1);
    transform-origin: left;
   }

   
   
   .btnLogin-popup{
    color: var(--text);
    width: 13rem;
    height: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    border-radius: 4rem;
    border: var(--text) 2px solid;
    background-color: transparent;
    transition: all 0.2s ease-in;
   }
   
   .btnLogin-popup:hover{
    background-color: #ffcc00;
    border: #ffcc00 2px solid;
    color:#000;
   }

   .user-info{
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    transition: all .2s ease;
    position: relative;
    z-index: 5;
   }

   .user-info:hover{
    cursor: pointer;
    transform: scale(1.05);
    
   }

   .user-info h2{
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
   }

   .user-info i{
    font-size: 1.8rem;
   }
   .menu-user-box{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: aqua;
    width: 16rem;
    background-color: black;
    color: var(--text);
}
   .menu-user{
    width: 100%;
    list-style-type: none;
   }

   .menu-user > li{
    transition: all .2s ease;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
   }

   .menu-user > li:hover{
    color: #000;
    background-color: white;
   }

   .menu-user > li:hover h2{
    color: #000;
  }

   .menu-user-box.show{
      display: block;
      animation: showMenuUser .3s ease-in forwards;
   }

   @keyframes showMenuUser {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
   }

   /* To top button */
   .to-top{
    width: 5rem;
    height: 5rem;
    border: 2px solid #ffcc00;
    border-radius: 50px ;
    z-index: 9999;
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    display: none;
   }

   .to-top:hover{
    cursor: pointer;
   }

   .to-top i{
    font-size: 3rem;
    color: #ffcc00;
    padding: 1rem;
    
   }
   /*Body*/
   
   .body-container{
    width: 100%;
    height: fit-content;
    position: relative;
   }
 
   .primary-bar{
    width: 100%;
    height:4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--text);
   }

   .primary-bar-l{
    display: flex;
    width: 80%;
    align-items: center;
    
   }

   .searchbar {
    padding: 0.5rem;
    border: #000 1px solid;
    border-radius: 3rem;
    margin-left: 1rem;
    width: 30%;
   }

   .searchbox{
    display: flex;
    justify-content: space-between;
   }

    .searchbar input{
      outline: none;
      width: 95%;
    }

   .keywords{
    display: flex;
   }
   
   .keywords a{
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem;
   }

   .menu{
    margin-right: 1rem;
   }

   .menu input{
    opacity: 0;
   }

   .menu label{
    font-size: 1.5rem;
   }

   .recommended{
    max-height: 55rem;
    max-width: 100rem;
    width: 100%;
    aspect-ratio: 16/9;
    margin: 3rem auto;
    position: relative;
   }

   .r-frame{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, rgba(0,0,0,0.9) 40%, rgba(0,0,0,0)),  no-repeat center;
    background-size: cover;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
   }

   .info{
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    
   }

   .info p{
    color: var(--text);
   }

   .r-type{
    font-size: 1.8em;
    font-size: 600;
    margin: 4em 0;
    border-left: 2px solid #ffcc00;
    padding-left: .5em;
   }

   .r-title{
    font-size: 3em;
    font-weight: 800;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
   }

   .r-summary{
    font-size: 1.3em;
    margin: 1em 2em 2em 0;
    text-align: justify;
    font-family: 'Merriweather', serif;
    overflow:hidden ;
   }

   .readMore-btn{
    position: absolute;
    right: 2rem;
    margin: 2rem 0;

   }

   .readMore-btn button{
    background-color: transparent;
    color: var(--text);
    border: 2px solid #ffcc00;
    border-radius: 3rem;
    padding: 0.5rem;
    transition: all .1s ease-in-out;
   }

   .readMore-btn i{
    color: #ffcc00
   }

   .readMore-btn button:hover{
    cursor: pointer;
    transform: scale(1.05);
   }

   .control{
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom:0;
    display: flex;
    gap:1rem;
    justify-content: center;
    
   }

   .control button{
    width: 0.9rem;
    height: 0.9rem;
    background-color: #fcfcfc;
    opacity: .5;
    border-radius: 50%;
    cursor: pointer;
   }

   .control button.active{
    opacity: 1;
    background-color: #ffcc00;
   }

  .r-frame.show{
    animation: showFrame .5s ease-out forwards;
  }
  .r-frame.hide{
    animation: hideFrame .5s ease-out forwards;
  }
   

   @keyframes hideFrame {
      0%{
        opacity: 1;
        scale: 1;
      }
      50%{
        opacity: 0.8;
        scale: 1.05;
      }
      99%{
        transform: translateX(-9rem);
        opacity: 0;
        scale: 1;
      }
      100%{
        opacity: 0;
        transform: translateX(0);
        z-index: -1;
      }
   }

   @keyframes showFrame {
    0%{
      opacity: 0;
      scale: .7;
    }
    50%{
      opacity: 0.8;
      scale: 1.05;
      transform: translateX(9rem);
    }
    99%{
      scale: 1;
      opacity: 1;
      transform: translateX(0);
    }
    100%{     
      opacity: 1;
      z-index: 0;
    }
   }

   .category{
    width: 100vw;
    height: fit-content;
   }

   .section-title{
    padding: 1rem 0 0 1rem;
    margin-left: 2rem;
   }

   .category div h2,
   .magazine div h2{
    color: var(--text);
    font-size: 3rem;
    padding: 0.5rem;
    width: fit-content;
    border-left: #ffcc00 solid 2px;
    border-top: #ffcc00 solid 2px;
   }

   

.t-container{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 7rem;
  }

.type{
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: var(--text);
  }

.t-wrapper{
    width: 98%;
    margin: 1rem auto 0;
    display: flex;
    position: relative;
  }

  .r-arrow, .l-arrow{
    aspect-ratio: 1;
    width: 2.5rem;
    border-top: 3px solid var(--text);
    border-right: 3px solid var(--text);
    position: absolute;
    z-index: 5;
    top: 40%;
  }

  .r-arrow{
    transform: rotate(45deg);
    right: 2rem;
  }

  .l-arrow{
    transform: rotate(-135deg);
    left: 2rem;
  }

  .r-arrow:hover, .l-arrow:hover{
    cursor: pointer;
  }

.new{
    width: 33rem;
    height: 30rem;
    flex-shrink: 0;
}

.new-wrapper{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.new-img{
    width: 100%;
    height: 80%;
    background-image: url(/img/login/background-login.jpg);
    margin-bottom: 1.8rem;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    transition: all .2s ease;
  }
  .new-img:hover{
    cursor: pointer;
    transform: scale(1.05);
  }

.new-title{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 600;
    font-family: 'Arial', sans-serif;
  }

/*  */
.magazine{
  width: 100%;
  height: fit-content;
  /* padding: 2rem; */
  user-select: none;
  overflow: hidden;
}

.magazine .maga-border{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.maga-border .maga-l-arrow,
.maga-border .maga-r-arrow{
  cursor: pointer;
  width: 50px;
  aspect-ratio: 1;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  rotate: 135deg;
}

.maga-border .maga-l-arrow{
  rotate: -45deg;
}

.maga-border .maga-box{
  position: relative;
  width: var(--w-cover-maga);
  height: 600px;
}

.magazine .maga-cover-box{
  transition: all .2s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
}

.magazine .maga-cover{
  width: 100%;
}

.magazine .maga-cover img{
  width: 100%;
}


.active1{
  z-index: -5;
  translate: -70% 0;
  left: -5rem;
  filter: brightness(.5);
  scale: .7;
}
.active2{
  z-index: -4;
  translate: -35% 0;
  left: -2.5rem;
  filter: brightness(.7);
  scale: 0.85;
}
.active3{
  z-index: -3;
  scale: 1;
}
.active4{
  z-index: -4;
  left: -5rem;
  scale: 0.85;
  filter: brightness(.7);
  translate: 35% 0;

}
.active5{
  scale: .7;
  translate: 70% 0;
  z-index: -5;
  filter: brightness(.5);
}
/* MENU */

.menu-box{
  transition: all .2s ease;
  transform: translate(100%, 0);
  opacity: 0;
  display: none;
  position: absolute;
  background-color: #000000;
  z-index: 999;
  top:0;
  right: 0;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  color: #fff;
  height: 130vh;
}

.menu-box::before{
  content: "";
  width: 150vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0000005a;
  z-index: -5;
}

.menu-box.active{
  display: block;
  transform: translate(0,0);
  opacity: 1;
}

.close-icon{
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
}

.menu-item-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.search-box2{
  display: flex;
  align-items: center ;
  padding: .5rem;
  border-bottom: 1px solid #ffffff;
  margin: 2rem 0;
}

.search-box2 input{
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem;
  flex-grow: 1;
  color: var(--text);
}

.search-box2 .search-icon{
  display:flex;
  font-size: 1.8rem;
}
.search-box2 .search-icon i{
  margin: auto;
}

.menu-item-box>a{
  margin: 1rem;
  font-size: 2.8rem;
  color: var(--text);
  text-decoration: none;
  font-family: 'Bacasime Antique', serif;
  font-weight: 600;
}

.menu-item-box.nav_col{
  width: 100%;
  align-items: flex-start;
}
.nav_col ul{
  width: 100%;
}

.nav_col li{
  width: 100%;
  height: fit-content;
}

.nav_col a{
  width: 100%;
  display: block;
  padding: 1rem;
  font-size: 1.8rem;
  color: var(--text);
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}


.nav_col a:hover{
  background-color: #ffcc00;
  color: #000;
}



header .menu-btn {
  height: 100%;
  aspect-ratio: 1;
  display: none;
}

header .menu-btn i{
  margin: auto;
  font-size: 3rem;
  cursor: pointer;
  color: var(--text);
}

header.fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

header.fixed .menu-btn{
  display: flex;
}


header.fixed nav{
  display: none;
}


footer{
  width: 100%;
  background-color: #000;
  box-sizing: border-box;
  padding: 1rem 2rem;
}

.f-border{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.f-wrapper{
  width:35rem;
  display: flex;
  justify-content: center;
}

.f-box{
  margin-bottom:2rem;
}

.f-box .fb-title{
color: var(--text);
text-transform: uppercase;
font-size: 1.6rem;
margin: 1rem 0;
font-family: 'Montserrat', sans-serif;
font-weight: 600;

}

.f-box li{
  padding: .5rem 0;
}

.f-box a, .f-box p{
  color: var(--text);
  text-decoration: none;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.6;
}

.f-box a:hover{
  opacity: 1;
}

.social-icon{
  margin-top:0.5rem;
  margin-bottom: 1rem; 
  width: 50%;
}

.social-icon i{
  color: var(--text);
  font-size: 2rem;
  transition: transform 0.2s ease;
}

.social-icon i:hover{
  color:#ffcc00;
  cursor: pointer;
  transform: scale(1.2);
}

.social{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.copyright-box{
  width: 100%;
  padding-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: .5px solid var(--text) ;
}

.copyright-box .logo{
  font-size: 2.6rem;
}

.copyright-box .copyright{
  color: var(--text);
  font-size: 1.4rem;
}