header .menu-btn{
    display: flex;
}
    
header nav,
header #right .user-check{
    display: none;
}

.primary-bar{
    display: none;
}

.logo,nav{
   width: 100%;
}
  
.navigation {
    display: none;
}

.f-wrapper{
    justify-content: start;
}

.copyright-box{
    display: block;
    padding: 1rem;
}

footer .logo{
    margin: 0;
}