header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

header .menu-btn{
    display: flex;
}
    
header nav{
    display: none;
}

main{
    margin-top: 10rem;
}

.primary-bar{
    display: none;
}

.logo,nav{
   width: 100%;
}
  
.navigation {
    display: none;
}

.f-wrapper{
    justify-content: start;
}

