body{
   background-color: var(--theme);
}

main{
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    background-color: var(--theme);
    margin-top: 7rem;
    padding: 0.25rem 2rem;
    position: relative;
 }

 .content-wrapper{
   max-width: 1000px;
    width: 100%;
    position: relative;
    margin: 0 auto;
 }
 
 .content-box{
    width: 100%;
    margin-top: 4rem;
    border-top: 4px solid #ffcc00;
    margin-bottom: 10rem;
 }
 
 .type{
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin: 1rem 0 3rem;
    text-shadow: 2px 2px 2px #b8b8b8;
 }
 
 .article-box{
    width: 100%;
 }
 
 .a-type, .a-cate{
   font-size: 1.4rem;
   width: fit-content;
   display: inline-block;
   text-transform: uppercase;
   margin: .5rem 0;
   font-family: 'Roboto', sans-serif;
   font-weight: 600;
   color: var(--text2);
   padding-right: 1rem;   
 }

 .a-type{
   border-right: 2px solid var(--text);
 }

 .a-cate{
   color: #ffcc00;
   padding-left: 1rem;
 }
 .article{
    width: 100%;
    margin-bottom: 2rem;
 }
 
 .a-title{
    width: 80%;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
 }
 .a-title a{
    transition: all .2s ease;
    color: var(--text);
    text-decoration: none;
 }
 
 .a-title a:hover{
      color: #ffcc00;
    text-decoration: underline;
    text-shadow: 1px 1px 0px #000000;
 }
 
 .a-info{
   color: var(--text2);
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
 }
 
 .a-info p{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
 }
 
 .author{
    text-transform: uppercase;
 }
 
 .release{
    font-weight: 600;
 }
 
 .a-summary{
   color: var(--text2);
   margin: 1rem 0;
 }
 
 .a-summary p{
    font-size: 1.4rem;
    font-family: 'Merriweather', serif;
 }
 
 .article + .article{
    border-top: 2px solid var(--text2);
 }

 .search-box{
    padding-top: 2rem;
    width: 70%;
    margin: 0 auto;
    position: relative;
    color: var(--text);
 }

 .search-bar{
    width: 70%;
    margin: 0 auto;
 }

 .search-bar input{
    width: 100%;
    height: 30px;
    border-bottom: var(--text2) 1px solid;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    color: var(--text);
 }

 .searchBtn{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
    gap: 2rem;
 }

 .searchBtn button{
    font-size: 1.6rem;
    font-weight: 600;
    background-color: #ffcc00;
    width: 160px;
    height: 30px;
    border-radius: 40px;
    transition: all 0.2s ease;
    color: var(--text);

 }

 .searchBtn button:hover{
    cursor: pointer;
    transform: scale(1.05);
 }

 .filter{
    width: 100px;
    height: 30px;
    border-radius: 40px;
    border: 1px solid var(--text2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    user-select: none;
 }

 .filter:hover{
    cursor: pointer;
    background-color: #ffcc00;
    border: none;
 }

 .searchBtn h1{
    font-size: 1.8rem;
 }

 .result{
    width: 100%;
    padding: 1rem;
    background-color: var(--theme2);
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    color: var(--text2);
 }

 .result h1{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
 }
 
 .filter-box{
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    position: relative;
    display: flex;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    opacity: 0;
 }

 .filter-box.active{
   opacity: 1;
   height: fit-content;
   animation: slideDown .5s ease forwards;
   padding-bottom: 7rem;
   user-select: none;
 }

 .revBtn,.filBtn{
   padding: .7rem 0;
    width: 10rem;
    height: fit-content;
    border-radius: 4rem;
    text-align: center;
    position: absolute;    
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
   cursor: pointer;
   transition: all .2s ease;
 } 

 .revBtn{
   border: 1px solid red;
   color: red;
   right: 13rem;
   bottom: 2rem;
 }

 .filBtn{
   border: 1px solid var(--text) ;
   color: var(--text2);
   right: 2rem;
   bottom: 2rem;
 }

 .revBtn:hover{
   background-color: red;
   color: #fff;
 }

 .filBtn:hover{
   border: 1px solid #ffcc00 ;
   background-color: #ffcc00;
   color: #fff;
 }
 
 .f-type{
    width: 30%;
 }

 .filter-box label{
    font-size: 1.6rem;
    margin: .5rem 0;
 }

 .f-type > label{
    font-weight: 600;
 }

 .page-ctrl{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: .5rem;
   padding: 1rem 0;
 }

 .page-ctrl button{
   color: var(--text);
   font-size: 1.6rem;
   background-color: transparent;
   width: 2rem;
   height: 2rem;
   position: relative;
 }

 .page-ctrl button:hover{
   cursor: pointer;
 }

 .page-ctrl button::before{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 2px;
   background-color: #ffcc00;
   transition: width 0.1s ease-in-out;
 }
 
 .page-ctrl button:hover::before{
   width: 100%;
 }

 .midPage.active{
   text-shadow: 1px 1px 0px var(--text2);
   color: #ffcc00;
 }
 .midPage.active::before{
   width: 100%;
 }


 @keyframes slideDown{
   0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
 }

 @media screen and (max-width:800px){
   .filter-box{
      flex-direction: column;
   }
   .filter-box form{
      width: 100%;
   }
   .f-type{
      width: 100%;
      margin: 1rem 0;
   }
 }

 @media screen and (max-width:600px){
   .search-box{
      width: 100%;
   }
   .searchBtn{
      width: 100%;
      padding: 0 2rem;
   }
   .search-bar{
      width: 100%;
      padding: 0 2rem;
   }
   #kw{
      width: 100%;
   }
 }