body{
   position: relative;
   background-color: var(--theme);
}

main{
   width: 100%;
   max-width: 1300px;
   margin: 0 auto;
   background-color: var(--theme2);
   padding: 0.25rem 2.4rem;
   position: relative;
   margin-top: 13rem;
}

.cover-issue{
   width: 100%;   
}

.cover-img{
   width: 100vw;
   height: 18rem;
   overflow: hidden;
   background: url('../../img/login/background-login.jpg') no-repeat center;
   background-size:cover;
   position: absolute;
   top: -7rem;
   left: 0;
}

.toc-path-box{
   width: 100%;    
   margin: 1rem 0;
   /* border: 1px dashed #000; */
}

.toc-path-box span *,
.toc-path-box span{
   text-transform: uppercase;
   font-size: 1.4rem;
   margin-right: .2rem;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   color: #565656;   
}

.toc-path-box span:last-child a{
   color: var(--text2);
}

.toc-path-box span a:hover{
   text-decoration: underline;
}

/*cover issue box*/

.issue-info-box{
   width: 100%;
   /* height: 22rem; */
   margin-bottom: 2rem;
   display: flex;
   margin-top:2rem;
   position: relative;
}
/* Control */
.control-box{
   position: absolute;
   width: fit-content;
   right: 3rem;
   top: 5rem;
}

.control-box div{
   transition: all .3s ease;
   min-width: 100px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   display: inline-block;
   margin: .5rem;
   border: 1px solid var(--text2);
   border-radius: 2rem;
   cursor: pointer;
}

.control-box div a{
   display: block;
   text-decoration: none;
   font-size: 1.4rem;
   padding: .5rem;
   color: var(--text);
}

.control-box div:hover{
   background-color: #ffcc00;
   border: 1px solid #ffcc00;
   color: #fff;
}

/*  */
.book-cover-wrapper{
   height: 28rem;
   aspect-ratio: 47/75;
   background-color: #000;
   box-shadow: -2px -2px 5px 1px rgba(0, 0, 0, 0.5), 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.book-cover-wrapper img{
   width: 100%;
}

.issue-detail{
   margin-left: 2rem;
   color: var(--text);
}

.issue-detail div{
   margin-bottom: 1.6rem;
}

.issue-title{
   font-family:'Bacasime Antique', serif;
   font-size: 3.0rem;
   font-weight: 600;
}

.issue-release-date{
   font-family: 'Roboto', sans-serif;
   font-size: 2rem;
   font-weight: 600;
}

.issue-summary-box p{
   margin-right: 4rem;
   font-size:2rem;
}

.issue-summary-box > #more{
   font-size: 1.6rem;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
   font-weight: 600;
   color: brown;
}

.content-wrapper{
   width: 100%;
   position: relative;
}

.content-box{
   width: 70%;
   margin-top: 4rem;
   border-top: 4px solid #ffcc00;
   margin-bottom: 10rem;
}

.type{
   color: var(--text);
   width: 100%;
   font-size: 3rem;
   font-weight: 600;
   font-family: 'Roboto', sans-serif;
   margin: 1rem 0 3rem;
   text-shadow: 2px 2px 2px #b8b8b8;
}

.article-box{
   width: 100%;
}

.article{
   width: 100%;
   margin-bottom: 2rem;
}

.a-title{
   width: 80%;
   font-size: 2.2rem;
   font-weight: 600;
   margin: 2rem 0 1rem;
   font-family: 'Roboto', sans-serif;
}
.a-title a{
   transition: all .2s ease;
   color: var(--text);
   text-decoration: none;
}

.a-title a:hover{
   text-decoration: underline;
   text-shadow: 1px 1px 1px #000000;
   color: #ffcc00;
}

.a-info{
   display: flex;
   justify-content: flex-start;
   gap: 1rem;
   color: var(--text2);
}

.a-info p{
   font-size: 1.3rem;
   font-family: 'Roboto', sans-serif;
}

.author{
   text-transform: uppercase;
}

.release{
   font-weight: 600;
}

.a-summary{
   margin: 1rem 0;
   color: var(--text2);
}

.a-summary p{
   font-size: 1.4rem;
   font-family: 'Merriweather', serif;
}

.article + .article{
   border-top: 2px solid var(--text2);
}

.ads{
   position: absolute;
   top:0;
   right: 0;
   width: 250px;
   box-sizing: border-box;
}

.ads-wrapper{
   border: 1px solid var(--text2);
}

.ads-wrapper p{
   font-family: 'Roboto', sans-serif;
   text-align: center;
   transform: translateY(-50%);
}

.ads-wrapper span{
   background-color: var(--theme2);
   color: var(--text2);
   padding: 0 1rem;
}

.ads-img{
   width: 100%;
   aspect-ratio: 1;
   padding: 1rem;
}

.ads-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
  
}


.issue-list{
   width: 100%;
   border-top: 4px solid #ffcc00;
}

.issue-container{
   height: fit-content;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 2rem;
   width: fit-content;
   margin: auto;
}

.issue-wrapper{
   width: 30rem;
   aspect-ratio: 47/75;
   box-sizing: border-box;
   padding: .5rem;
   flex-shrink: 0;
   margin-bottom: 2rem;
   position: relative;
}

.issue-wrapper img{
   width: 100%;
   box-shadow: -2px -2px 5px 1px rgba(0, 0, 0, 0.5), 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
   transition: all .2s ease;
}

.issue-wrapper img:hover{
   cursor: pointer;
   transform: scale(1.05);
}

@media screen and (max-width:1150px){
   .ads{
      position: static;
      margin-bottom: 2rem;      
   }
   .content-box {
      width: 100%;
   }
}

@media screen and (max-width:1300px){
   .issue-container{
      grid-template-columns: 1fr 1fr 1fr;
   }
}

@media screen and (max-width:1000px){
   .issue-container{
      grid-template-columns: 1fr 1fr;
   }
}

@media screen and (max-width:780px){
   .issue-container{
      grid-template-columns: 1fr;
   }

   main{
      margin: 70px auto 0;      
   }

   .issue-info-box{
      display: block;
   }
   .issue-detail{
      margin-top: 2rem;
      margin-left: 0;
   }
   .control-box{
      position: static;
   }

}